body{
  margin: 0;
  background-color: var(--bg-dark-black);
}

:root {
  --bg-dark-black: #19173D;
  --bg-light-black: #262450;
  --text-primary: #FFFFFF;
  --text-secondary: #7B78AA;

  --cyan-gradient: linear-gradient(to bottom right, #0DA6C2 0%, #0E39C6 100%);
}

.App {
  font-family: 'Poppins', sans-serif;
  color: var(--text-primary);
}

a:hover {
  cursor: pointer;
}

.Filler {
  height: 6em;
}
